# colab setting, read file and import module

In [1]:
#!pip install google.colab #如未安裝取消註解後執行
import os
from google.colab import drive
drive.mount('/content/my_drive')

Mounted at /content/my_drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
# file_path = '/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/xgboost_month_freq_dataset.csv'
# df = pd.read_csv(file_path)

# 又是這裡....主表與591表格靠攏

In [3]:
need_df = pd.read_csv('/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/full_main_data_low_var_v2.csv', encoding='utf-8')

<ipython-input-3-4a48e88a98d4>:1: DtypeWarning: Columns (31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  need_df = pd.read_csv('/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/full_main_data_low_var_v2.csv', encoding='utf-8')

In [5]:
need_df.info(max_cols=114)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783397 entries, 0 to 783396
Data columns (total 114 columns):
 #    Column                                Non-Null Count   Dtype
---   ------                                --------------   -----
 0    usage_category                        758618 non-null  object
 1    address                               783397 non-null  object
 2    property_type                         783397 non-null  object
 3    community_name                        783397 non-null  int64
 4    main_building_ratio                   746392 non-null  float64
 5    city                                  783397 non-null  object
 6    parking_space_price                   183395 non-null  float64
 7    transaction_date                      783397 non-null  object
 8    elevator_available                    783397 non-null  int64
 9    building_age                          595528 non-null  float64
 10   number_of_land                        783397 non-null  int64
 11   number_of_building                    783397 non-null  int64
 12   number_of_parking_space               783397 non-null  int64
 13   latitude                              783397 non-null  float64
 14   longitude                             783397 non-null  float64
 15   management_org_available              783397 non-null  int64
 16   per_ping_calculation_method           783397 non-null  object
 17   note                                  335449 non-null  object
 18   price_per_ping                        760783 non-null  float64
 19   detailed_usage_classification         781698 non-null  object
 20   total_area_ping                       783397 non-null  float64
 21   property_b_l_p_type                   783397 non-null  object
 22   district                              783397 non-null  object
 23   total_price                           783397 non-null  int64
 24   total_floors                          781931 non-null  float64
 25   target_floor                          780864 non-null  float64
 26   transaction_floors                    782140 non-null  float64
 27   bedrooms                              743135 non-null  float64
 28   living_rooms                          743135 non-null  float64
 29   bathrooms                             743135 non-null  float64
 30   cor                                   783397 non-null  object
 31   year_month_for_combine                777274 non-null  object
 32   date                                  777274 non-null  object
 33   EA1101                                777274 non-null  float64
 34   EB0312                                777274 non-null  float64
 35   EB0911                                777274 non-null  float64
 36   EB18                                  777274 non-null  float64
 37   EB21                                  777274 non-null  float64
 38   EB22                                  777274 non-null  float64
 39   EC06                                  777274 non-null  float64
 40   EC07                                  777274 non-null  float64
 41   LA07                                  777274 non-null  float64
 42   MA1501                                777274 non-null  float64
 43   MB65                                  777274 non-null  float64
 44   MC31                                  777274 non-null  float64
 45   MC31G                                 777274 non-null  float64
 46   MC36                                  777274 non-null  float64
 47   MC36G                                 777274 non-null  float64
 48   MO30                                  777274 non-null  float64
 49   MP101G                                777274 non-null  float64
 50   NA0101                                777274 non-null  float64
 51   NA1005                                764958 non-null  float64
 52   NB0101                                777274 non-null  float64
 53   NC0117                                777274 non-null  float64
 54   NC0118                                777274 non-null  float64
 55   NE0206                                777274 non-null  float64
 56   NE0812                                777274 non-null  float64
 57   OC08G                                 777274 non-null  float64
 58   PA0120                                777274 non-null  float64
 59   PA1205                                777274 non-null  float64
 60   PE0503                                777274 non-null  float64
 61   TSE收盤                                 777274 non-null  float64
 62   水泥(TSE11)收盤                           777274 non-null  float64
 63   建材營造(TSE25)收盤                         777274 non-null  float64
 64   航運業(TSE26)收盤                          777274 non-null  float64
 65   鋼鐵(TSE20)收盤                           777274 non-null  float64
 66   倫敦鋁現貨價                                777274 non-null  float64
 67   倫敦高級銅極現貨價                             777274 non-null  float64
 68   巴拿馬型貨櫃運費指數                            777274 non-null  float64
 69   杜拜輕原油現貨價                              777274 non-null  float64
 70   水泥50kg北區台泥                            777274 non-null  float64
 71   無鉛汽油95                                777274 non-null  float64
 72   竹節鋼筋_南                                777274 non-null  float64
 73   預拌混凝土3000磅台北                          777274 non-null  float64
 74   new_per_ping                          783397 non-null  float64
 75   year                                  777274 non-null  float64
 76   month                                 777274 non-null  float64
 77   have_elevator                         783397 non-null  int64
 78   have_elevator_f                       783397 non-null  int64
 79   Public_Activity_Space_under_250_m     783397 non-null  float64
 80   MRT_Exit_under_250_m                  783397 non-null  float64
 81   Religious_Site_under_250_m            783397 non-null  float64
 82   School_under_250_m                    783397 non-null  float64
 83   Kindergarten_under_250_m              783397 non-null  float64
 84   Convenience_Store_under_250_m         783397 non-null  float64
 85   Bank_under_250_m                      783397 non-null  float64
 86   Clinic_under_250_m                    783397 non-null  float64
 87   Pharmacy_under_250_m                  783397 non-null  float64
 88   acc_Public_Activity_Space_under_500m  783397 non-null  float64
 89   acc_Public_Activity_Space_under_750m  783397 non-null  float64
 90   acc_MRT_Exit_under_500m               783397 non-null  float64
 91   acc_MRT_Exit_under_750m               783397 non-null  float64
 92   acc_Religious_Site_under_500m         783397 non-null  float64
 93   acc_Religious_Site_under_750m         783397 non-null  float64
 94   acc_Shopping_Area_under_750m          783397 non-null  float64
 95   acc_School_under_500m                 783397 non-null  float64
 96   acc_School_under_750m                 783397 non-null  float64
 97   acc_Hospital_under_500m               783397 non-null  float64
 98   acc_Hospital_under_750m               783397 non-null  float64
 99   acc_Gas_Station_under_750m            783397 non-null  float64
 100  acc_Kindergarten_under_500m           783397 non-null  float64
 101  acc_Kindergarten_under_750m           783397 non-null  float64
 102  acc_Daycare_Center_under_500m         783397 non-null  float64
 103  acc_Daycare_Center_under_750m         783397 non-null  float64
 104  acc_Convenience_Store_under_500m      783397 non-null  float64
 105  acc_Convenience_Store_under_750m      783397 non-null  float64
 106  acc_Bank_under_500m                   783397 non-null  float64
 107  acc_Bank_under_750m                   783397 non-null  float64
 108  acc_Police_Station_under_750m         783397 non-null  float64
 109  acc_Clinic_under_500m                 783397 non-null  float64
 110  acc_Clinic_under_750m                 783397 non-null  float64
 111  acc_Pharmacy_under_500m               783397 non-null  float64
 112  acc_Pharmacy_under_750m               783397 non-null  float64
 113  acc_Medical_Facility_under_750m       783397 non-null  float64
dtypes: float64(92), int64(9), object(13)
memory usage: 681.4+ MB

In [6]:
# 丟經濟指標
need_df.drop(need_df.columns[33:74], axis=1, inplace=True)

In [7]:
need_df.info(max_cols=114)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783397 entries, 0 to 783396
Data columns (total 73 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   usage_category                        758618 non-null  object
 1   address                               783397 non-null  object
 2   property_type                         783397 non-null  object
 3   community_name                        783397 non-null  int64
 4   main_building_ratio                   746392 non-null  float64
 5   city                                  783397 non-null  object
 6   parking_space_price                   183395 non-null  float64
 7   transaction_date                      783397 non-null  object
 8   elevator_available                    783397 non-null  int64
 9   building_age                          595528 non-null  float64
 10  number_of_land                        783397 non-null  int64
 11  number_of_building                    783397 non-null  int64
 12  number_of_parking_space               783397 non-null  int64
 13  latitude                              783397 non-null  float64
 14  longitude                             783397 non-null  float64
 15  management_org_available              783397 non-null  int64
 16  per_ping_calculation_method           783397 non-null  object
 17  note                                  335449 non-null  object
 18  price_per_ping                        760783 non-null  float64
 19  detailed_usage_classification         781698 non-null  object
 20  total_area_ping                       783397 non-null  float64
 21  property_b_l_p_type                   783397 non-null  object
 22  district                              783397 non-null  object
 23  total_price                           783397 non-null  int64
 24  total_floors                          781931 non-null  float64
 25  target_floor                          780864 non-null  float64
 26  transaction_floors                    782140 non-null  float64
 27  bedrooms                              743135 non-null  float64
 28  living_rooms                          743135 non-null  float64
 29  bathrooms                             743135 non-null  float64
 30  cor                                   783397 non-null  object
 31  year_month_for_combine                777274 non-null  object
 32  date                                  777274 non-null  object
 33  new_per_ping                          783397 non-null  float64
 34  year                                  777274 non-null  float64
 35  month                                 777274 non-null  float64
 36  have_elevator                         783397 non-null  int64
 37  have_elevator_f                       783397 non-null  int64
 38  Public_Activity_Space_under_250_m     783397 non-null  float64
 39  MRT_Exit_under_250_m                  783397 non-null  float64
 40  Religious_Site_under_250_m            783397 non-null  float64
 41  School_under_250_m                    783397 non-null  float64
 42  Kindergarten_under_250_m              783397 non-null  float64
 43  Convenience_Store_under_250_m         783397 non-null  float64
 44  Bank_under_250_m                      783397 non-null  float64
 45  Clinic_under_250_m                    783397 non-null  float64
 46  Pharmacy_under_250_m                  783397 non-null  float64
 47  acc_Public_Activity_Space_under_500m  783397 non-null  float64
 48  acc_Public_Activity_Space_under_750m  783397 non-null  float64
 49  acc_MRT_Exit_under_500m               783397 non-null  float64
 50  acc_MRT_Exit_under_750m               783397 non-null  float64
 51  acc_Religious_Site_under_500m         783397 non-null  float64
 52  acc_Religious_Site_under_750m         783397 non-null  float64
 53  acc_Shopping_Area_under_750m          783397 non-null  float64
 54  acc_School_under_500m                 783397 non-null  float64
 55  acc_School_under_750m                 783397 non-null  float64
 56  acc_Hospital_under_500m               783397 non-null  float64
 57  acc_Hospital_under_750m               783397 non-null  float64
 58  acc_Gas_Station_under_750m            783397 non-null  float64
 59  acc_Kindergarten_under_500m           783397 non-null  float64
 60  acc_Kindergarten_under_750m           783397 non-null  float64
 61  acc_Daycare_Center_under_500m         783397 non-null  float64
 62  acc_Daycare_Center_under_750m         783397 non-null  float64
 63  acc_Convenience_Store_under_500m      783397 non-null  float64
 64  acc_Convenience_Store_under_750m      783397 non-null  float64
 65  acc_Bank_under_500m                   783397 non-null  float64
 66  acc_Bank_under_750m                   783397 non-null  float64
 67  acc_Police_Station_under_750m         783397 non-null  float64
 68  acc_Clinic_under_500m                 783397 non-null  float64
 69  acc_Clinic_under_750m                 783397 non-null  float64
 70  acc_Pharmacy_under_500m               783397 non-null  float64
 71  acc_Pharmacy_under_750m               783397 non-null  float64
 72  acc_Medical_Facility_under_750m       783397 non-null  float64
dtypes: float64(51), int64(9), object(13)
memory usage: 436.3+ MB

# 基礎捕值fillna

## main_building_ratio
倉庫、工廠:、其他:、廠辦:、農舍:、辦公商業大樓:、透天厝:
這幾個幾乎全部都是nan
其中[倉庫, 工廠, 農舍, 辦公商業大樓, 透天厝]可以假設是"土地類的"，所以可以給100%
"其他"跟"廠辦"就比較難定義，那我覺得可以補全體的平均值

In [8]:
fillna_df = need_df.copy()

In [9]:
fillna_df['property_type'].isnull().sum()

0

In [10]:
fillna_df['property_type'].unique()

array(['公寓(5樓含以下無電梯)', '華廈(10層含以下有電梯)', '套房(1房(1廳)1衛)', '住宅大樓(11層含以上有電梯)',
       '店面（店舖)', '透天厝', '其他'], dtype=object)

In [11]:
fillna_df['main_building_ratio'].isnull().sum()

37005

In [ ]:
# fillna_df[fillna_df['property_type'] == '透天厝']['main_building_ratio'].info()

In [12]:
fillna_df.loc[fillna_df['property_type'] == '透天厝', 'main_building_ratio'] = 100

# 又一次叫你不要寫迴圈....
# for index, value in enumerate(fillna_df['property_type']):
#   if value ==  '透天厝':
#     fillna_df.loc[index,['main_building_ratio']] = 100

In [13]:
fillna_df['main_building_ratio'].isnull().sum()

14499

In [14]:
fillna_df['property_type'].isnull().sum()

0

In [15]:
type_p_list = fillna_df['property_type'].unique()
type_p_list

array(['公寓(5樓含以下無電梯)', '華廈(10層含以下有電梯)', '套房(1房(1廳)1衛)', '住宅大樓(11層含以上有電梯)',
       '店面（店舖)', '透天厝', '其他'], dtype=object)

In [16]:
type_p_list_2 = list(type_p_list)

In [17]:
# 其他要最後填，先排掉
type_p_list_2.pop(6)

'其他'

In [18]:
# 我們可以直接使用 .loc 來改變原本的 DataFrame，然後將平均值指派給那些需要填補的索引處。改寫如下：，今天已經兩次這個問題了....

for type_p in type_p_list_2:
  tmp = fillna_df[fillna_df['property_type'] == type_p ]['main_building_ratio']
  need_fillna_index = tmp[ tmp.isnull() ].index

  # 錯誤示範: 簡單來說只要是切片索引下就不能就用fillna直接改變dataframe
  # fillna_df.loc[need_fillna_index, 'main_building_ratio'].fillna(tmp.mean(), inplace=True)

  # 正確反正我們已經找到特定property_type下na的index了，在原先的data_clean使用loc只需要在指定欄位main_building_ratio，我們就可以直接進行填值(mean)
  mean_value = tmp.mean()
  fillna_df.loc[need_fillna_index, 'main_building_ratio'] = mean_value

In [19]:
type_p_list = fillna_df['property_type'].unique()
for type_p in type_p_list:
  print(f"{type_p}:")
  tmp = fillna_df[fillna_df['property_type'] == type_p ]['main_building_ratio']
  print(f"{type_p} mean ratio:{tmp.mean()}")
  print(f"{type_p}'s main_building_ratio null ratio is {tmp.isnull().sum()}/{len(tmp)}")
  print('-'*50)

公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean ratio:90.61000159863887
公寓(5樓含以下無電梯)'s main_building_ratio null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean ratio:61.14878857359721
華廈(10層含以下有電梯)'s main_building_ratio null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean ratio:60.6382584564407
套房(1房(1廳)1衛)'s main_building_ratio null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean ratio:53.79791304174515
住宅大樓(11層含以上有電梯)'s main_building_ratio null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean ratio:73.83283676038607
店面（店舖)'s main_building_ratio null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean ratio:100.0
透天厝's main_building_ratio null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean ratio:49.82499999999999
其他's main_building_ratio null ratio is 3396/3408
--------------------------------------------------

### 建立新表格把剩餘main_building_ratio補一補(就是其他拉)

In [20]:
tt_df = fillna_df.copy()

In [21]:
tt_df['main_building_ratio'].fillna(tt_df['main_building_ratio'].mean(), inplace=True)

In [22]:
# 確認一下
type_p_list = tt_df['property_type'].unique()
for type_p in type_p_list:
  print(f"{type_p}:")
  tmp = tt_df[tt_df['property_type'] == type_p ]['main_building_ratio']
  print(f"{type_p} mean ratio:{tmp.mean()}")
  print(f"{type_p}'s main_building_ratio null ratio is {tmp.isnull().sum()}/{len(tmp)}")
  print('-'*50)

公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean ratio:90.61000159863887
公寓(5樓含以下無電梯)'s main_building_ratio null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean ratio:61.14878857359721
華廈(10層含以下有電梯)'s main_building_ratio null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean ratio:60.6382584564407
套房(1房(1廳)1衛)'s main_building_ratio null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean ratio:53.79791304174515
住宅大樓(11層含以上有電梯)'s main_building_ratio null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean ratio:73.83283676038607
店面（店舖)'s main_building_ratio null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean ratio:100.0
透天厝's main_building_ratio null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean ratio:65.26971482052949
其他's main_building_ratio null ratio is 0/3408
--------------------------------------------------

## property_b_l_p_type

In [23]:
tt_df['property_type'].isnull().sum()

0

In [24]:
tt_df.drop(['parking_space_price', 'latitude', 'longitude','note', 'price_per_ping', 'total_price', 'cor', 'elevator_available', 'have_elevator'],axis=1, inplace=True)

In [ ]:
tt_df.info(max_cols=104)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777312 entries, 0 to 777311
Data columns (total 64 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   usage_category                        752817 non-null  object
 1   address                               777312 non-null  object
 2   property_type                         777312 non-null  object
 3   community_name                        777312 non-null  int64
 4   main_building_ratio                   777312 non-null  float64
 5   city                                  777312 non-null  object
 6   transaction_date                      777312 non-null  object
 7   building_age                          589815 non-null  float64
 8   number_of_land                        777312 non-null  int64
 9   number_of_building                    777312 non-null  int64
 10  number_of_parking_space               777312 non-null  int64
 11  management_org_available              777312 non-null  int64
 12  per_ping_calculation_method           777312 non-null  object
 13  detailed_usage_classification         775665 non-null  object
 14  total_area_ping                       777312 non-null  float64
 15  property_b_l_p_type                   777312 non-null  object
 16  district                              777312 non-null  object
 17  total_floors                          775848 non-null  float64
 18  target_floor                          774780 non-null  float64
 19  transaction_floors                    776057 non-null  float64
 20  bedrooms                              737368 non-null  float64
 21  living_rooms                          737368 non-null  float64
 22  bathrooms                             737368 non-null  float64
 23  year_month_for_combine                777312 non-null  object
 24  date                                  777312 non-null  object
 25  new_per_ping                          777312 non-null  float64
 26  year                                  777312 non-null  int64
 27  month                                 777312 non-null  int64
 28  have_elevator_f                       777312 non-null  int64
 29  Public_Activity_Space_under_250_m     777312 non-null  float64
 30  MRT_Exit_under_250_m                  777312 non-null  float64
 31  Religious_Site_under_250_m            777312 non-null  float64
 32  School_under_250_m                    777312 non-null  float64
 33  Kindergarten_under_250_m              777312 non-null  float64
 34  Convenience_Store_under_250_m         777312 non-null  float64
 35  Bank_under_250_m                      777312 non-null  float64
 36  Clinic_under_250_m                    777312 non-null  float64
 37  Pharmacy_under_250_m                  777312 non-null  float64
 38  acc_Public_Activity_Space_under_500m  777312 non-null  float64
 39  acc_Public_Activity_Space_under_750m  777312 non-null  float64
 40  acc_MRT_Exit_under_500m               777312 non-null  float64
 41  acc_MRT_Exit_under_750m               777312 non-null  float64
 42  acc_Religious_Site_under_500m         777312 non-null  float64
 43  acc_Religious_Site_under_750m         777312 non-null  float64
 44  acc_Shopping_Area_under_750m          777312 non-null  float64
 45  acc_School_under_500m                 777312 non-null  float64
 46  acc_School_under_750m                 777312 non-null  float64
 47  acc_Hospital_under_500m               777312 non-null  float64
 48  acc_Hospital_under_750m               777312 non-null  float64
 49  acc_Gas_Station_under_750m            777312 non-null  float64
 50  acc_Kindergarten_under_500m           777312 non-null  float64
 51  acc_Kindergarten_under_750m           777312 non-null  float64
 52  acc_Daycare_Center_under_500m         777312 non-null  float64
 53  acc_Daycare_Center_under_750m         777312 non-null  float64
 54  acc_Convenience_Store_under_500m      777312 non-null  float64
 55  acc_Convenience_Store_under_750m      777312 non-null  float64
 56  acc_Bank_under_500m                   777312 non-null  float64
 57  acc_Bank_under_750m                   777312 non-null  float64
 58  acc_Police_Station_under_750m         777312 non-null  float64
 59  acc_Clinic_under_500m                 777312 non-null  float64
 60  acc_Clinic_under_750m                 777312 non-null  float64
 61  acc_Pharmacy_under_500m               777312 non-null  float64
 62  acc_Pharmacy_under_750m               777312 non-null  float64
 63  acc_Medical_Facility_under_750m       777312 non-null  float64
dtypes: float64(45), int64(8), object(11)
memory usage: 379.5+ MB

In [25]:
# 房地(土地+建物)     0
# 房地(土地+建物)+車位   1

tt_df['property_b_l_p_type'] = np.where(tt_df['property_b_l_p_type'].isin(['房地(土地+建物)']), 0, 1)

In [26]:
tt_df['property_b_l_p_type'].unique()

array([0, 1])

## 要來填building age 和幾房廳

In [27]:
age_df = tt_df.copy()

In [28]:
age_list = age_df['property_type'].unique()

In [29]:
age_list = age_df['property_type'].unique()
for age_p in age_list:
  tmp = age_df[age_df['property_type'] == age_p ]['building_age']
  need_fillna_index = tmp[ tmp.isnull() ].index

  # 錯誤示範: 簡單來說只要是切片索引下就不能就用fillna直接改變dataframe
  # age_df.loc[need_fillna_index, 'main_building_ratio'].fillna(tmp.mean(), inplace=True)

  # 正確: 反正我們已經找到特定property_type下na的index了，在原先的data_clean使用loc只需要在指定欄位main_building_ratio，我們就可以直接進行填值(mean)
  mean_value = tmp.mean()
  age_df.loc[need_fillna_index, 'building_age'] = mean_value

In [30]:
age_df['building_age'].isnull().sum()

0

In [31]:
print('building_age')
for type_p in age_list:
  print(f"{type_p}:")
  tmp = age_df[age_df['property_type'] == type_p ]['building_age']
  print(f"{type_p} mean:{tmp.mean()}")
  print(f"{type_p}'s building_age null ratio is {tmp.isnull().sum()}/{len(tmp)}")
  print('-'*50)

building_age
公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean:37.16601928347498
公寓(5樓含以下無電梯)'s building_age null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean:19.955749673813468
華廈(10層含以下有電梯)'s building_age null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean:16.761150148472645
套房(1房(1廳)1衛)'s building_age null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean:12.734924312859553
住宅大樓(11層含以上有電梯)'s building_age null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean:23.931402964495
店面（店舖)'s building_age null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean:30.802989519500606
透天厝's building_age null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean:11.082527881040892
其他's building_age null ratio is 0/3408
--------------------------------------------------

In [ ]:
# age_df.to_csv('/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/EDA_fillna_building_age_ok.csv', encoding='utf-8', index=False) # '/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/xgboost_month_freq_dataset.csv'

## 填幾房幾廳
* 這邊是一個一個填，沒有寫迴圈，要重做的話要注意
* 基本上都已property type為分類依據，去填值

In [32]:
many_room_df = age_df.copy()

In [33]:
many_room_df.info(max_cols=104)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783397 entries, 0 to 783396
Data columns (total 64 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   usage_category                        758618 non-null  object
 1   address                               783397 non-null  object
 2   property_type                         783397 non-null  object
 3   community_name                        783397 non-null  int64
 4   main_building_ratio                   783397 non-null  float64
 5   city                                  783397 non-null  object
 6   transaction_date                      783397 non-null  object
 7   building_age                          783397 non-null  float64
 8   number_of_land                        783397 non-null  int64
 9   number_of_building                    783397 non-null  int64
 10  number_of_parking_space               783397 non-null  int64
 11  management_org_available              783397 non-null  int64
 12  per_ping_calculation_method           783397 non-null  object
 13  detailed_usage_classification         781698 non-null  object
 14  total_area_ping                       783397 non-null  float64
 15  property_b_l_p_type                   783397 non-null  int64
 16  district                              783397 non-null  object
 17  total_floors                          781931 non-null  float64
 18  target_floor                          780864 non-null  float64
 19  transaction_floors                    782140 non-null  float64
 20  bedrooms                              743135 non-null  float64
 21  living_rooms                          743135 non-null  float64
 22  bathrooms                             743135 non-null  float64
 23  year_month_for_combine                777274 non-null  object
 24  date                                  777274 non-null  object
 25  new_per_ping                          783397 non-null  float64
 26  year                                  777274 non-null  float64
 27  month                                 777274 non-null  float64
 28  have_elevator_f                       783397 non-null  int64
 29  Public_Activity_Space_under_250_m     783397 non-null  float64
 30  MRT_Exit_under_250_m                  783397 non-null  float64
 31  Religious_Site_under_250_m            783397 non-null  float64
 32  School_under_250_m                    783397 non-null  float64
 33  Kindergarten_under_250_m              783397 non-null  float64
 34  Convenience_Store_under_250_m         783397 non-null  float64
 35  Bank_under_250_m                      783397 non-null  float64
 36  Clinic_under_250_m                    783397 non-null  float64
 37  Pharmacy_under_250_m                  783397 non-null  float64
 38  acc_Public_Activity_Space_under_500m  783397 non-null  float64
 39  acc_Public_Activity_Space_under_750m  783397 non-null  float64
 40  acc_MRT_Exit_under_500m               783397 non-null  float64
 41  acc_MRT_Exit_under_750m               783397 non-null  float64
 42  acc_Religious_Site_under_500m         783397 non-null  float64
 43  acc_Religious_Site_under_750m         783397 non-null  float64
 44  acc_Shopping_Area_under_750m          783397 non-null  float64
 45  acc_School_under_500m                 783397 non-null  float64
 46  acc_School_under_750m                 783397 non-null  float64
 47  acc_Hospital_under_500m               783397 non-null  float64
 48  acc_Hospital_under_750m               783397 non-null  float64
 49  acc_Gas_Station_under_750m            783397 non-null  float64
 50  acc_Kindergarten_under_500m           783397 non-null  float64
 51  acc_Kindergarten_under_750m           783397 non-null  float64
 52  acc_Daycare_Center_under_500m         783397 non-null  float64
 53  acc_Daycare_Center_under_750m         783397 non-null  float64
 54  acc_Convenience_Store_under_500m      783397 non-null  float64
 55  acc_Convenience_Store_under_750m      783397 non-null  float64
 56  acc_Bank_under_500m                   783397 non-null  float64
 57  acc_Bank_under_750m                   783397 non-null  float64
 58  acc_Police_Station_under_750m         783397 non-null  float64
 59  acc_Clinic_under_500m                 783397 non-null  float64
 60  acc_Clinic_under_750m                 783397 non-null  float64
 61  acc_Pharmacy_under_500m               783397 non-null  float64
 62  acc_Pharmacy_under_750m               783397 non-null  float64
 63  acc_Medical_Facility_under_750m       783397 non-null  float64
dtypes: float64(47), int64(7), object(10)
memory usage: 382.5+ MB

In [34]:
def fillna_with_house_rooms(col_name):
  house_set_list = many_room_df['property_type'].unique()
  for age_p in house_set_list:
    tmp = many_room_df[many_room_df['property_type'] == age_p ][col_name]
    need_fillna_index = tmp[ tmp.isnull() ].index

    # 錯誤示範: 簡單來說只要是切片索引下就不能就用fillna直接改變dataframe
    # many_room_df.loc[need_fillna_index, 'main_building_ratio'].fillna(tmp.mean(), inplace=True)

    # 正確反正我們已經找到特定property_type下na的index了，在原先的data_clean使用loc只需要在指定欄位main_building_ratio，我們就可以直接進行填值(mean)
    mean_value = tmp.mean().round(0)
    many_room_df.loc[need_fillna_index, col_name] = mean_value

  type_p_list = many_room_df['property_type'].unique()
  print('col_name')
  print('='*50)
  for type_p in type_p_list:
    print(f"{type_p}:")
    tmp = many_room_df[many_room_df['property_type'] == type_p ][col_name]
    print(f"{type_p} mean:{tmp.mean()}")
    print(f"{type_p}'s col_name null ratio is {tmp.isnull().sum()}/{len(tmp)}")
    print('-'*50)

In [35]:
rooms_list = many_room_df.columns[17:23]
for col_name in rooms_list:
  fillna_with_house_rooms(col_name)

col_name
==================================================
公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean:4.502489668155641
公寓(5樓含以下無電梯)'s col_name null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean:7.666363289849323
華廈(10層含以下有電梯)'s col_name null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean:13.539028585469735
套房(1房(1廳)1衛)'s col_name null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean:16.98944694494112
住宅大樓(11層含以上有電梯)'s col_name null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean:9.094015920944276
店面（店舖)'s col_name null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean:2.691371189904914
透天厝's col_name null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean:14.511737089201878
其他's col_name null ratio is 0/3408
--------------------------------------------------
col_name
==================================================
公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean:2.953737844069911
公寓(5樓含以下無電梯)'s col_name null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean:4.471587594221838
華廈(10層含以下有電梯)'s col_name null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean:7.724574767248205
套房(1房(1廳)1衛)'s col_name null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean:9.345843763487268
住宅大樓(11層含以上有電梯)'s col_name null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean:1.0156464452374416
店面（店舖)'s col_name null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean:1.0
透天厝's col_name null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean:7.387030516431925
其他's col_name null ratio is 0/3408
--------------------------------------------------
col_name
==================================================
公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean:1.028333203373027
公寓(5樓含以下無電梯)'s col_name null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean:1.022130949880594
華廈(10層含以下有電梯)'s col_name null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean:1.019684931880853
套房(1房(1廳)1衛)'s col_name null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean:1.0123435476909797
住宅大樓(11層含以上有電梯)'s col_name null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean:1.1169365907219324
店面（店舖)'s col_name null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean:2.691371189904914
透天厝's col_name null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean:1.2514671361502347
其他's col_name null ratio is 0/3408
--------------------------------------------------
col_name
==================================================
公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean:2.9937451961101025
公寓(5樓含以下無電梯)'s col_name null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean:2.661415914058793
華廈(10層含以下有電梯)'s col_name null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean:0.9872771452753433
套房(1房(1廳)1衛)'s col_name null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean:2.6188445650163388
住宅大樓(11層含以上有電梯)'s col_name null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean:0.9394729618446336
店面（店舖)'s col_name null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean:4.100284368612814
透天厝's col_name null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean:2.2077464788732395
其他's col_name null ratio is 0/3408
--------------------------------------------------
col_name
==================================================
公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean:1.7275512136436042
公寓(5樓含以下無電梯)'s col_name null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean:1.7176962031224476
華廈(10層含以下有電梯)'s col_name null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean:0.885931143691812
套房(1房(1廳)1衛)'s col_name null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean:1.7480535174794993
住宅大樓(11層含以上有電梯)'s col_name null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean:1.0293713972001097
店面（店舖)'s col_name null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean:2.2374477916999913
透天厝's col_name null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean:1.204225352112676
其他's col_name null ratio is 0/3408
--------------------------------------------------
col_name
==================================================
公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean:1.6673925878067528
公寓(5樓含以下無電梯)'s col_name null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean:1.689723304784797
華廈(10層含以下有電梯)'s col_name null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean:1.0215687880525295
套房(1房(1廳)1衛)'s col_name null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean:1.667836488069548
住宅大樓(11層含以上有電梯)'s col_name null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean:1.131759538841614
店面（店舖)'s col_name null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean:3.008442193192926
透天厝's col_name null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean:2.0551643192488265
其他's col_name null ratio is 0/3408
--------------------------------------------------

In [36]:
type_p_list = many_room_df['property_type'].unique()
print('transaction_floors')
print('='*50)
for type_p in type_p_list:
  print(f"{type_p}:")
  tmp = many_room_df[many_room_df['property_type'] == type_p ]['transaction_floors']
  print(f"{type_p} mean:{tmp.mean()}")
  print(f"{type_p}'s transaction_floors null ratio is {tmp.isnull().sum()}/{len(tmp)}")
  print('-'*50)

transaction_floors
==================================================
公寓(5樓含以下無電梯):
公寓(5樓含以下無電梯) mean:1.028333203373027
公寓(5樓含以下無電梯)'s transaction_floors null ratio is 0/179542
--------------------------------------------------
華廈(10層含以下有電梯):
華廈(10層含以下有電梯) mean:1.022130949880594
華廈(10層含以下有電梯)'s transaction_floors null ratio is 0/128553
--------------------------------------------------
套房(1房(1廳)1衛):
套房(1房(1廳)1衛) mean:1.019684931880853
套房(1房(1廳)1衛)'s transaction_floors null ratio is 0/36627
--------------------------------------------------
住宅大樓(11層含以上有電梯):
住宅大樓(11層含以上有電梯) mean:1.0123435476909797
住宅大樓(11層含以上有電梯)'s transaction_floors null ratio is 0/405475
--------------------------------------------------
店面（店舖):
店面（店舖) mean:1.1169365907219324
店面（店舖)'s transaction_floors null ratio is 0/7286
--------------------------------------------------
透天厝:
透天厝 mean:2.691371189904914
透天厝's transaction_floors null ratio is 0/22506
--------------------------------------------------
其他:
其他 mean:1.2514671361502347
其他's transaction_floors null ratio is 0/3408
--------------------------------------------------

In [37]:
house_set_list = many_room_df['property_type'].unique()
for age_p in house_set_list:
  tmp = many_room_df[many_room_df['property_type'] == age_p ]['transaction_floors']
  need_fillna_index = tmp[ tmp.isnull() ].index

  # 錯誤示範: 簡單來說只要是切片索引下就不能就用fillna直接改變dataframe
  # many_room_df.loc[need_fillna_index, 'main_building_ratio'].fillna(tmp.mean(), inplace=True)

  # 正確反正我們已經找到特定property_type下na的index了，在原先的data_clean使用loc只需要在指定欄位main_building_ratio，我們就可以直接進行填值(mean)
  mean_value = tmp.mean().round(0)
  many_room_df.loc[need_fillna_index, 'transaction_floors'] = mean_value

In [38]:
many_room_df.info(max_cols=104)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783397 entries, 0 to 783396
Data columns (total 64 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   usage_category                        758618 non-null  object
 1   address                               783397 non-null  object
 2   property_type                         783397 non-null  object
 3   community_name                        783397 non-null  int64
 4   main_building_ratio                   783397 non-null  float64
 5   city                                  783397 non-null  object
 6   transaction_date                      783397 non-null  object
 7   building_age                          783397 non-null  float64
 8   number_of_land                        783397 non-null  int64
 9   number_of_building                    783397 non-null  int64
 10  number_of_parking_space               783397 non-null  int64
 11  management_org_available              783397 non-null  int64
 12  per_ping_calculation_method           783397 non-null  object
 13  detailed_usage_classification         781698 non-null  object
 14  total_area_ping                       783397 non-null  float64
 15  property_b_l_p_type                   783397 non-null  int64
 16  district                              783397 non-null  object
 17  total_floors                          783397 non-null  float64
 18  target_floor                          783397 non-null  float64
 19  transaction_floors                    783397 non-null  float64
 20  bedrooms                              783397 non-null  float64
 21  living_rooms                          783397 non-null  float64
 22  bathrooms                             783397 non-null  float64
 23  year_month_for_combine                777274 non-null  object
 24  date                                  777274 non-null  object
 25  new_per_ping                          783397 non-null  float64
 26  year                                  777274 non-null  float64
 27  month                                 777274 non-null  float64
 28  have_elevator_f                       783397 non-null  int64
 29  Public_Activity_Space_under_250_m     783397 non-null  float64
 30  MRT_Exit_under_250_m                  783397 non-null  float64
 31  Religious_Site_under_250_m            783397 non-null  float64
 32  School_under_250_m                    783397 non-null  float64
 33  Kindergarten_under_250_m              783397 non-null  float64
 34  Convenience_Store_under_250_m         783397 non-null  float64
 35  Bank_under_250_m                      783397 non-null  float64
 36  Clinic_under_250_m                    783397 non-null  float64
 37  Pharmacy_under_250_m                  783397 non-null  float64
 38  acc_Public_Activity_Space_under_500m  783397 non-null  float64
 39  acc_Public_Activity_Space_under_750m  783397 non-null  float64
 40  acc_MRT_Exit_under_500m               783397 non-null  float64
 41  acc_MRT_Exit_under_750m               783397 non-null  float64
 42  acc_Religious_Site_under_500m         783397 non-null  float64
 43  acc_Religious_Site_under_750m         783397 non-null  float64
 44  acc_Shopping_Area_under_750m          783397 non-null  float64
 45  acc_School_under_500m                 783397 non-null  float64
 46  acc_School_under_750m                 783397 non-null  float64
 47  acc_Hospital_under_500m               783397 non-null  float64
 48  acc_Hospital_under_750m               783397 non-null  float64
 49  acc_Gas_Station_under_750m            783397 non-null  float64
 50  acc_Kindergarten_under_500m           783397 non-null  float64
 51  acc_Kindergarten_under_750m           783397 non-null  float64
 52  acc_Daycare_Center_under_500m         783397 non-null  float64
 53  acc_Daycare_Center_under_750m         783397 non-null  float64
 54  acc_Convenience_Store_under_500m      783397 non-null  float64
 55  acc_Convenience_Store_under_750m      783397 non-null  float64
 56  acc_Bank_under_500m                   783397 non-null  float64
 57  acc_Bank_under_750m                   783397 non-null  float64
 58  acc_Police_Station_under_750m         783397 non-null  float64
 59  acc_Clinic_under_500m                 783397 non-null  float64
 60  acc_Clinic_under_750m                 783397 non-null  float64
 61  acc_Pharmacy_under_500m               783397 non-null  float64
 62  acc_Pharmacy_under_750m               783397 non-null  float64
 63  acc_Medical_Facility_under_750m       783397 non-null  float64
dtypes: float64(47), int64(7), object(10)
memory usage: 382.5+ MB

## usage category

In [39]:
many_room_df.isnull().sum().sum()

50970

In [40]:
uu_df = many_room_df.copy()

In [41]:
uu_df['usage_category'].unique()

array(['住', '商', '6', '工', '其他', '7', '農', nan], dtype=object)

In [42]:
# 把null值跟"6","7"，都改成"其他"
uu_df['usage_category'].fillna(value="其他", inplace=True)

for index, value in enumerate(uu_df['usage_category']):
    if value == "6":
        uu_df['usage_category'].iloc[index] = "其他"
    if value == "7":
        uu_df['usage_category'].iloc[index] = "其他"

In [43]:
uu_df['usage_category'].isnull().sum()

0

In [44]:
uu_df.isnull().sum().sum()

26191

In [45]:
uu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783397 entries, 0 to 783396
Data columns (total 64 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   usage_category                        783397 non-null  object
 1   address                               783397 non-null  object
 2   property_type                         783397 non-null  object
 3   community_name                        783397 non-null  int64
 4   main_building_ratio                   783397 non-null  float64
 5   city                                  783397 non-null  object
 6   transaction_date                      783397 non-null  object
 7   building_age                          783397 non-null  float64
 8   number_of_land                        783397 non-null  int64
 9   number_of_building                    783397 non-null  int64
 10  number_of_parking_space               783397 non-null  int64
 11  management_org_available              783397 non-null  int64
 12  per_ping_calculation_method           783397 non-null  object
 13  detailed_usage_classification         781698 non-null  object
 14  total_area_ping                       783397 non-null  float64
 15  property_b_l_p_type                   783397 non-null  int64
 16  district                              783397 non-null  object
 17  total_floors                          783397 non-null  float64
 18  target_floor                          783397 non-null  float64
 19  transaction_floors                    783397 non-null  float64
 20  bedrooms                              783397 non-null  float64
 21  living_rooms                          783397 non-null  float64
 22  bathrooms                             783397 non-null  float64
 23  year_month_for_combine                777274 non-null  object
 24  date                                  777274 non-null  object
 25  new_per_ping                          783397 non-null  float64
 26  year                                  777274 non-null  float64
 27  month                                 777274 non-null  float64
 28  have_elevator_f                       783397 non-null  int64
 29  Public_Activity_Space_under_250_m     783397 non-null  float64
 30  MRT_Exit_under_250_m                  783397 non-null  float64
 31  Religious_Site_under_250_m            783397 non-null  float64
 32  School_under_250_m                    783397 non-null  float64
 33  Kindergarten_under_250_m              783397 non-null  float64
 34  Convenience_Store_under_250_m         783397 non-null  float64
 35  Bank_under_250_m                      783397 non-null  float64
 36  Clinic_under_250_m                    783397 non-null  float64
 37  Pharmacy_under_250_m                  783397 non-null  float64
 38  acc_Public_Activity_Space_under_500m  783397 non-null  float64
 39  acc_Public_Activity_Space_under_750m  783397 non-null  float64
 40  acc_MRT_Exit_under_500m               783397 non-null  float64
 41  acc_MRT_Exit_under_750m               783397 non-null  float64
 42  acc_Religious_Site_under_500m         783397 non-null  float64
 43  acc_Religious_Site_under_750m         783397 non-null  float64
 44  acc_Shopping_Area_under_750m          783397 non-null  float64
 45  acc_School_under_500m                 783397 non-null  float64
 46  acc_School_under_750m                 783397 non-null  float64
 47  acc_Hospital_under_500m               783397 non-null  float64
 48  acc_Hospital_under_750m               783397 non-null  float64
 49  acc_Gas_Station_under_750m            783397 non-null  float64
 50  acc_Kindergarten_under_500m           783397 non-null  float64
 51  acc_Kindergarten_under_750m           783397 non-null  float64
 52  acc_Daycare_Center_under_500m         783397 non-null  float64
 53  acc_Daycare_Center_under_750m         783397 non-null  float64
 54  acc_Convenience_Store_under_500m      783397 non-null  float64
 55  acc_Convenience_Store_under_750m      783397 non-null  float64
 56  acc_Bank_under_500m                   783397 non-null  float64
 57  acc_Bank_under_750m                   783397 non-null  float64
 58  acc_Police_Station_under_750m         783397 non-null  float64
 59  acc_Clinic_under_500m                 783397 non-null  float64
 60  acc_Clinic_under_750m                 783397 non-null  float64
 61  acc_Pharmacy_under_500m               783397 non-null  float64
 62  acc_Pharmacy_under_750m               783397 non-null  float64
 63  acc_Medical_Facility_under_750m       783397 non-null  float64
dtypes: float64(47), int64(7), object(10)
memory usage: 382.5+ MB

In [ ]:
# uu_df.to_csv('/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/EDA_fillna_ok_not_economic_select.csv', encoding='utf-8', index=False) # '/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/xgboost_month_freq_dataset.csv'

# 更改成跟591資料集靠攏

In [55]:
need_df = uu_df.copy()

In [47]:
need_df['number_of_parking_space'].value_counts()

number_of_parking_space
0     431441
1     303978
2      42102
3       4790
4        786
5        148
6         70
7         31
9         12
8         11
10         8
12         6
14         3
15         2
11         2
60         2
13         1
22         1
18         1
23         1
16         1
Name: count, dtype: int64

In [56]:
need_df['number_of_parking_space'] = np.where(need_df['number_of_parking_space'].isin([0]), 0, 1)

In [57]:
need_df['has_parking_space'] = need_df['number_of_parking_space']

In [58]:
need_df.drop('number_of_parking_space', axis=1, inplace=True)

In [51]:
need_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783397 entries, 0 to 783396
Data columns (total 64 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   usage_category                        783397 non-null  object
 1   address                               783397 non-null  object
 2   property_type                         783397 non-null  object
 3   community_name                        783397 non-null  int64
 4   main_building_ratio                   783397 non-null  float64
 5   city                                  783397 non-null  object
 6   transaction_date                      783397 non-null  object
 7   building_age                          783397 non-null  float64
 8   number_of_land                        783397 non-null  int64
 9   number_of_building                    783397 non-null  int64
 10  management_org_available              783397 non-null  int64
 11  per_ping_calculation_method           783397 non-null  object
 12  detailed_usage_classification         781698 non-null  object
 13  total_area_ping                       783397 non-null  float64
 14  property_b_l_p_type                   783397 non-null  int64
 15  district                              783397 non-null  object
 16  total_floors                          783397 non-null  float64
 17  target_floor                          783397 non-null  float64
 18  transaction_floors                    783397 non-null  float64
 19  bedrooms                              783397 non-null  float64
 20  living_rooms                          783397 non-null  float64
 21  bathrooms                             783397 non-null  float64
 22  year_month_for_combine                777274 non-null  object
 23  date                                  777274 non-null  object
 24  new_per_ping                          783397 non-null  float64
 25  year                                  777274 non-null  float64
 26  month                                 777274 non-null  float64
 27  have_elevator_f                       783397 non-null  int64
 28  Public_Activity_Space_under_250_m     783397 non-null  float64
 29  MRT_Exit_under_250_m                  783397 non-null  float64
 30  Religious_Site_under_250_m            783397 non-null  float64
 31  School_under_250_m                    783397 non-null  float64
 32  Kindergarten_under_250_m              783397 non-null  float64
 33  Convenience_Store_under_250_m         783397 non-null  float64
 34  Bank_under_250_m                      783397 non-null  float64
 35  Clinic_under_250_m                    783397 non-null  float64
 36  Pharmacy_under_250_m                  783397 non-null  float64
 37  acc_Public_Activity_Space_under_500m  783397 non-null  float64
 38  acc_Public_Activity_Space_under_750m  783397 non-null  float64
 39  acc_MRT_Exit_under_500m               783397 non-null  float64
 40  acc_MRT_Exit_under_750m               783397 non-null  float64
 41  acc_Religious_Site_under_500m         783397 non-null  float64
 42  acc_Religious_Site_under_750m         783397 non-null  float64
 43  acc_Shopping_Area_under_750m          783397 non-null  float64
 44  acc_School_under_500m                 783397 non-null  float64
 45  acc_School_under_750m                 783397 non-null  float64
 46  acc_Hospital_under_500m               783397 non-null  float64
 47  acc_Hospital_under_750m               783397 non-null  float64
 48  acc_Gas_Station_under_750m            783397 non-null  float64
 49  acc_Kindergarten_under_500m           783397 non-null  float64
 50  acc_Kindergarten_under_750m           783397 non-null  float64
 51  acc_Daycare_Center_under_500m         783397 non-null  float64
 52  acc_Daycare_Center_under_750m         783397 non-null  float64
 53  acc_Convenience_Store_under_500m      783397 non-null  float64
 54  acc_Convenience_Store_under_750m      783397 non-null  float64
 55  acc_Bank_under_500m                   783397 non-null  float64
 56  acc_Bank_under_750m                   783397 non-null  float64
 57  acc_Police_Station_under_750m         783397 non-null  float64
 58  acc_Clinic_under_500m                 783397 non-null  float64
 59  acc_Clinic_under_750m                 783397 non-null  float64
 60  acc_Pharmacy_under_500m               783397 non-null  float64
 61  acc_Pharmacy_under_750m               783397 non-null  float64
 62  acc_Medical_Facility_under_750m       783397 non-null  float64
 63  has_parking_space                     783397 non-null  int64
dtypes: float64(47), int64(7), object(10)
memory usage: 382.5+ MB

In [59]:
usage_df = need_df[ (need_df['detailed_usage_classification'] == '住家用') | (need_df['detailed_usage_classification'] == '住商用') ]

In [61]:
usage_df.drop('detailed_usage_classification', axis=1,inplace=True)

<ipython-input-61-a7c86e2b320d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usage_df.drop('detailed_usage_classification', axis=1,inplace=True)

In [60]:
usage_df['usage_category'] = usage_df['detailed_usage_classification']

<ipython-input-60-1d98350655ba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usage_df['usage_category'] = usage_df['detailed_usage_classification']

In [62]:
usage_df = usage_df[usage_df['per_ping_calculation_method'] != '總面積-車位總面積 剩餘面積小於1平方公尺 ,不計算單價']

In [63]:
usage_df.drop('date',axis=1,inplace=True)

In [64]:
usage_df['elevator_available'] = usage_df['have_elevator_f']

In [65]:
usage_df['property_type'].unique()

array(['公寓(5樓含以下無電梯)', '華廈(10層含以下有電梯)', '套房(1房(1廳)1衛)', '店面（店舖)', '透天厝',
       '住宅大樓(11層含以上有電梯)', '其他'], dtype=object)

In [66]:
usage_df['property_type'].replace({'公寓(5樓含以下無電梯)':'公寓', '華廈(10層含以下有電梯)': '電梯大樓', '住宅大樓(11層含以上有電梯)': '電梯大樓'}, inplace=True)

In [67]:
usage_df['property_type'].value_counts()

property_type
電梯大樓            481399
公寓              168453
套房(1房(1廳)1衛)     28723
透天厝              19882
店面（店舖)            2186
其他                 823
Name: count, dtype: int64

In [68]:
usage_df_2 = usage_df[ (usage_df['property_type'] == '公寓') | (usage_df['property_type'] == '電梯大樓') | (usage_df['property_type'] == '透天厝')]

In [69]:
usage_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 669734 entries, 0 to 783396
Data columns (total 63 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   usage_category                        669734 non-null  object
 1   address                               669734 non-null  object
 2   property_type                         669734 non-null  object
 3   community_name                        669734 non-null  int64
 4   main_building_ratio                   669734 non-null  float64
 5   city                                  669734 non-null  object
 6   transaction_date                      669734 non-null  object
 7   building_age                          669734 non-null  float64
 8   number_of_land                        669734 non-null  int64
 9   number_of_building                    669734 non-null  int64
 10  management_org_available              669734 non-null  int64
 11  per_ping_calculation_method           669734 non-null  object
 12  total_area_ping                       669734 non-null  float64
 13  property_b_l_p_type                   669734 non-null  int64
 14  district                              669734 non-null  object
 15  total_floors                          669734 non-null  float64
 16  target_floor                          669734 non-null  float64
 17  transaction_floors                    669734 non-null  float64
 18  bedrooms                              669734 non-null  float64
 19  living_rooms                          669734 non-null  float64
 20  bathrooms                             669734 non-null  float64
 21  year_month_for_combine                664436 non-null  object
 22  new_per_ping                          669734 non-null  float64
 23  year                                  664436 non-null  float64
 24  month                                 664436 non-null  float64
 25  have_elevator_f                       669734 non-null  int64
 26  Public_Activity_Space_under_250_m     669734 non-null  float64
 27  MRT_Exit_under_250_m                  669734 non-null  float64
 28  Religious_Site_under_250_m            669734 non-null  float64
 29  School_under_250_m                    669734 non-null  float64
 30  Kindergarten_under_250_m              669734 non-null  float64
 31  Convenience_Store_under_250_m         669734 non-null  float64
 32  Bank_under_250_m                      669734 non-null  float64
 33  Clinic_under_250_m                    669734 non-null  float64
 34  Pharmacy_under_250_m                  669734 non-null  float64
 35  acc_Public_Activity_Space_under_500m  669734 non-null  float64
 36  acc_Public_Activity_Space_under_750m  669734 non-null  float64
 37  acc_MRT_Exit_under_500m               669734 non-null  float64
 38  acc_MRT_Exit_under_750m               669734 non-null  float64
 39  acc_Religious_Site_under_500m         669734 non-null  float64
 40  acc_Religious_Site_under_750m         669734 non-null  float64
 41  acc_Shopping_Area_under_750m          669734 non-null  float64
 42  acc_School_under_500m                 669734 non-null  float64
 43  acc_School_under_750m                 669734 non-null  float64
 44  acc_Hospital_under_500m               669734 non-null  float64
 45  acc_Hospital_under_750m               669734 non-null  float64
 46  acc_Gas_Station_under_750m            669734 non-null  float64
 47  acc_Kindergarten_under_500m           669734 non-null  float64
 48  acc_Kindergarten_under_750m           669734 non-null  float64
 49  acc_Daycare_Center_under_500m         669734 non-null  float64
 50  acc_Daycare_Center_under_750m         669734 non-null  float64
 51  acc_Convenience_Store_under_500m      669734 non-null  float64
 52  acc_Convenience_Store_under_750m      669734 non-null  float64
 53  acc_Bank_under_500m                   669734 non-null  float64
 54  acc_Bank_under_750m                   669734 non-null  float64
 55  acc_Police_Station_under_750m         669734 non-null  float64
 56  acc_Clinic_under_500m                 669734 non-null  float64
 57  acc_Clinic_under_750m                 669734 non-null  float64
 58  acc_Pharmacy_under_500m               669734 non-null  float64
 59  acc_Pharmacy_under_750m               669734 non-null  float64
 60  acc_Medical_Facility_under_750m       669734 non-null  float64
 61  has_parking_space                     669734 non-null  int64
 62  elevator_available                    669734 non-null  int64
dtypes: float64(47), int64(8), object(8)
memory usage: 327.0+ MB

In [70]:
usage_df['usage_category'].unique()

array(['住家用', '住商用'], dtype=object)

In [71]:
usage_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 701466 entries, 0 to 783396
Data columns (total 63 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   usage_category                        701466 non-null  object
 1   address                               701466 non-null  object
 2   property_type                         701466 non-null  object
 3   community_name                        701466 non-null  int64
 4   main_building_ratio                   701466 non-null  float64
 5   city                                  701466 non-null  object
 6   transaction_date                      701466 non-null  object
 7   building_age                          701466 non-null  float64
 8   number_of_land                        701466 non-null  int64
 9   number_of_building                    701466 non-null  int64
 10  management_org_available              701466 non-null  int64
 11  per_ping_calculation_method           701466 non-null  object
 12  total_area_ping                       701466 non-null  float64
 13  property_b_l_p_type                   701466 non-null  int64
 14  district                              701466 non-null  object
 15  total_floors                          701466 non-null  float64
 16  target_floor                          701466 non-null  float64
 17  transaction_floors                    701466 non-null  float64
 18  bedrooms                              701466 non-null  float64
 19  living_rooms                          701466 non-null  float64
 20  bathrooms                             701466 non-null  float64
 21  year_month_for_combine                696168 non-null  object
 22  new_per_ping                          701466 non-null  float64
 23  year                                  696168 non-null  float64
 24  month                                 696168 non-null  float64
 25  have_elevator_f                       701466 non-null  int64
 26  Public_Activity_Space_under_250_m     701466 non-null  float64
 27  MRT_Exit_under_250_m                  701466 non-null  float64
 28  Religious_Site_under_250_m            701466 non-null  float64
 29  School_under_250_m                    701466 non-null  float64
 30  Kindergarten_under_250_m              701466 non-null  float64
 31  Convenience_Store_under_250_m         701466 non-null  float64
 32  Bank_under_250_m                      701466 non-null  float64
 33  Clinic_under_250_m                    701466 non-null  float64
 34  Pharmacy_under_250_m                  701466 non-null  float64
 35  acc_Public_Activity_Space_under_500m  701466 non-null  float64
 36  acc_Public_Activity_Space_under_750m  701466 non-null  float64
 37  acc_MRT_Exit_under_500m               701466 non-null  float64
 38  acc_MRT_Exit_under_750m               701466 non-null  float64
 39  acc_Religious_Site_under_500m         701466 non-null  float64
 40  acc_Religious_Site_under_750m         701466 non-null  float64
 41  acc_Shopping_Area_under_750m          701466 non-null  float64
 42  acc_School_under_500m                 701466 non-null  float64
 43  acc_School_under_750m                 701466 non-null  float64
 44  acc_Hospital_under_500m               701466 non-null  float64
 45  acc_Hospital_under_750m               701466 non-null  float64
 46  acc_Gas_Station_under_750m            701466 non-null  float64
 47  acc_Kindergarten_under_500m           701466 non-null  float64
 48  acc_Kindergarten_under_750m           701466 non-null  float64
 49  acc_Daycare_Center_under_500m         701466 non-null  float64
 50  acc_Daycare_Center_under_750m         701466 non-null  float64
 51  acc_Convenience_Store_under_500m      701466 non-null  float64
 52  acc_Convenience_Store_under_750m      701466 non-null  float64
 53  acc_Bank_under_500m                   701466 non-null  float64
 54  acc_Bank_under_750m                   701466 non-null  float64
 55  acc_Police_Station_under_750m         701466 non-null  float64
 56  acc_Clinic_under_500m                 701466 non-null  float64
 57  acc_Clinic_under_750m                 701466 non-null  float64
 58  acc_Pharmacy_under_500m               701466 non-null  float64
 59  acc_Pharmacy_under_750m               701466 non-null  float64
 60  acc_Medical_Facility_under_750m       701466 non-null  float64
 61  has_parking_space                     701466 non-null  int64
 62  elevator_available                    701466 non-null  int64
dtypes: float64(47), int64(8), object(8)
memory usage: 342.5+ MB

In [ ]:
usage_df_2.to_csv('/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/main_data_match_591_before_one_hot.csv', encoding='utf-8', index=False)

In [72]:
district_match_dict = {
    "A15": "士林區",
    "A09": "大同區",
    "A02": "大安區",
    "A10": "中山區",
    "A03": "中正區",
    "A14": "內湖區",
    "A11": "文山區",
    "A16": "北投區",
    "A01": "松山區",
    "A17": "信義區",
    "A13": "南港區",
    "A05": "萬華區",
    "F32": "八里區",
    "F30": "三芝區",
    "F05": "三重區",
    "F15": "三峽區",
    "F19": "土城區",
    "F18": "中和區",
    "F03": "五股區",
    "F22": "平溪區",
    "F33": "永和區",
    "F31": "石門區",
    "F08": "石碇區",
    "F28": "汐止區",
    "F10": "坪林區",
    "F02": "林口區",
    "F14": "板橋區",
    "F25": "金山區",
    "F06": "泰山區",
    "F11": "烏來區",
    "F24": "貢寮區",
    "F27": "淡水區",
    "F09": "深坑區",
    "F07": "新店區",
    "F01": "新莊區",
    "F21": "瑞芳區",
    "F26": "萬里區",
    "F17": "樹林區",
    "F23": "雙溪區",
    "F04": "蘆洲區",
    "F16": "鶯歌區"
}

In [73]:
usage_df_2['district'].replace(district_match_dict, inplace=True)

<ipython-input-73-55ad7f01e1dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usage_df_2['district'].replace(district_match_dict, inplace=True)

In [74]:
usage_df_2['city'].unique()

array(['A', 'F'], dtype=object)

In [75]:
usage_df_2['city'].replace({'A':'台北市', 'F': '新北市'}, inplace=True)

<ipython-input-75-f07717d095e2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usage_df_2['city'].replace({'A':'台北市', 'F': '新北市'}, inplace=True)

In [76]:
usage_df_2.to_csv('/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/final_full_main_data_before_one_hot_can_do_EDA.csv', encoding='utf-8', index=False)

# 編碼
* 最好先處理下面的usage

In [77]:
another_df = usage_df_2.copy()

In [78]:
# 會自己把原先欄位drop掉
another_df = pd.get_dummies(another_df, columns=['property_type'], prefix='property_type_')
another_df = pd.get_dummies(another_df, columns=['city'], prefix='city_')
# another_df = pd.get_dummies(another_df, columns=['property_b_l_p_type'], prefix='property_b_l_p_type_')
another_df = pd.get_dummies(another_df, columns=['district'], prefix='district_')
another_df = pd.get_dummies(another_df, columns=['usage_category'], prefix='usage_category_')

In [79]:
another_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 669734 entries, 0 to 783396
Columns: 107 entries, address to usage_category__住家用
dtypes: bool(48), float64(47), int64(8), object(4)
memory usage: 337.2+ MB

In [80]:
another_df.iloc[:,49:] = another_df.iloc[:,49:].astype(int)

In [81]:
another_df.isnull().sum().sum()

15894

In [82]:
another_df.info(max_cols=131)

<class 'pandas.core.frame.DataFrame'>
Index: 669734 entries, 0 to 783396
Data columns (total 107 columns):
 #    Column                                Non-Null Count   Dtype
---   ------                                --------------   -----
 0    address                               669734 non-null  object
 1    community_name                        669734 non-null  int64
 2    main_building_ratio                   669734 non-null  float64
 3    transaction_date                      669734 non-null  object
 4    building_age                          669734 non-null  float64
 5    number_of_land                        669734 non-null  int64
 6    number_of_building                    669734 non-null  int64
 7    management_org_available              669734 non-null  int64
 8    per_ping_calculation_method           669734 non-null  object
 9    total_area_ping                       669734 non-null  float64
 10   property_b_l_p_type                   669734 non-null  int64
 11   total_floors                          669734 non-null  float64
 12   target_floor                          669734 non-null  float64
 13   transaction_floors                    669734 non-null  float64
 14   bedrooms                              669734 non-null  float64
 15   living_rooms                          669734 non-null  float64
 16   bathrooms                             669734 non-null  float64
 17   year_month_for_combine                664436 non-null  object
 18   new_per_ping                          669734 non-null  float64
 19   year                                  664436 non-null  float64
 20   month                                 664436 non-null  float64
 21   have_elevator_f                       669734 non-null  int64
 22   Public_Activity_Space_under_250_m     669734 non-null  float64
 23   MRT_Exit_under_250_m                  669734 non-null  float64
 24   Religious_Site_under_250_m            669734 non-null  float64
 25   School_under_250_m                    669734 non-null  float64
 26   Kindergarten_under_250_m              669734 non-null  float64
 27   Convenience_Store_under_250_m         669734 non-null  float64
 28   Bank_under_250_m                      669734 non-null  float64
 29   Clinic_under_250_m                    669734 non-null  float64
 30   Pharmacy_under_250_m                  669734 non-null  float64
 31   acc_Public_Activity_Space_under_500m  669734 non-null  float64
 32   acc_Public_Activity_Space_under_750m  669734 non-null  float64
 33   acc_MRT_Exit_under_500m               669734 non-null  float64
 34   acc_MRT_Exit_under_750m               669734 non-null  float64
 35   acc_Religious_Site_under_500m         669734 non-null  float64
 36   acc_Religious_Site_under_750m         669734 non-null  float64
 37   acc_Shopping_Area_under_750m          669734 non-null  float64
 38   acc_School_under_500m                 669734 non-null  float64
 39   acc_School_under_750m                 669734 non-null  float64
 40   acc_Hospital_under_500m               669734 non-null  float64
 41   acc_Hospital_under_750m               669734 non-null  float64
 42   acc_Gas_Station_under_750m            669734 non-null  float64
 43   acc_Kindergarten_under_500m           669734 non-null  float64
 44   acc_Kindergarten_under_750m           669734 non-null  float64
 45   acc_Daycare_Center_under_500m         669734 non-null  float64
 46   acc_Daycare_Center_under_750m         669734 non-null  float64
 47   acc_Convenience_Store_under_500m      669734 non-null  float64
 48   acc_Convenience_Store_under_750m      669734 non-null  float64
 49   acc_Bank_under_500m                   669734 non-null  float64
 50   acc_Bank_under_750m                   669734 non-null  float64
 51   acc_Police_Station_under_750m         669734 non-null  float64
 52   acc_Clinic_under_500m                 669734 non-null  float64
 53   acc_Clinic_under_750m                 669734 non-null  float64
 54   acc_Pharmacy_under_500m               669734 non-null  float64
 55   acc_Pharmacy_under_750m               669734 non-null  float64
 56   acc_Medical_Facility_under_750m       669734 non-null  float64
 57   has_parking_space                     669734 non-null  int64
 58   elevator_available                    669734 non-null  int64
 59   property_type__公寓                     669734 non-null  int64
 60   property_type__透天厝                    669734 non-null  int64
 61   property_type__電梯大樓                   669734 non-null  int64
 62   city__台北市                             669734 non-null  int64
 63   city__新北市                             669734 non-null  int64
 64   district__三峽區                         669734 non-null  int64
 65   district__三芝區                         669734 non-null  int64
 66   district__三重區                         669734 non-null  int64
 67   district__中和區                         669734 non-null  int64
 68   district__中山區                         669734 non-null  int64
 69   district__中正區                         669734 non-null  int64
 70   district__五股區                         669734 non-null  int64
 71   district__信義區                         669734 non-null  int64
 72   district__內湖區                         669734 non-null  int64
 73   district__八里區                         669734 non-null  int64
 74   district__北投區                         669734 non-null  int64
 75   district__南港區                         669734 non-null  int64
 76   district__土城區                         669734 non-null  int64
 77   district__坪林區                         669734 non-null  int64
 78   district__士林區                         669734 non-null  int64
 79   district__大同區                         669734 non-null  int64
 80   district__大安區                         669734 non-null  int64
 81   district__平溪區                         669734 non-null  int64
 82   district__文山區                         669734 non-null  int64
 83   district__新店區                         669734 non-null  int64
 84   district__新莊區                         669734 non-null  int64
 85   district__松山區                         669734 non-null  int64
 86   district__板橋區                         669734 non-null  int64
 87   district__林口區                         669734 non-null  int64
 88   district__樹林區                         669734 non-null  int64
 89   district__永和區                         669734 non-null  int64
 90   district__汐止區                         669734 non-null  int64
 91   district__泰山區                         669734 non-null  int64
 92   district__淡水區                         669734 non-null  int64
 93   district__深坑區                         669734 non-null  int64
 94   district__烏來區                         669734 non-null  int64
 95   district__瑞芳區                         669734 non-null  int64
 96   district__石碇區                         669734 non-null  int64
 97   district__石門區                         669734 non-null  int64
 98   district__萬華區                         669734 non-null  int64
 99   district__萬里區                         669734 non-null  int64
 100  district__蘆洲區                         669734 non-null  int64
 101  district__貢寮區                         669734 non-null  int64
 102  district__金山區                         669734 non-null  int64
 103  district__雙溪區                         669734 non-null  int64
 104  district__鶯歌區                         669734 non-null  int64
 105  usage_category__住商用                   669734 non-null  int64
 106  usage_category__住家用                   669734 non-null  int64
dtypes: float64(47), int64(56), object(4)
memory usage: 551.8+ MB

In [83]:
another_df.drop('have_elevator_f', axis=1, inplace=True)

In [84]:
another_df.to_csv('/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/final_full_main_data_after_one_hot_chinese.csv', encoding='utf-8', index=False) # '/content/my_drive/MyDrive/BDSE34期末報告_房價/all_data/xgboost_month_freq_dataset.csv'